.actionButtons {
	margin-bottom: 20px;
	margin-top: 20px;
	border: 1px;
	border-style: dotted;
	border-color: gray;

}

.actionButtons .buttons {
/* 	float: left; */
}

.advancedSearchBox {
	display: block;
	border: 0px;
	border-style:solid;
/* 	border-color: orange; */
	
}

.advancedSearchBox .searchFields {
	display: inline-block !important;
}

.searchFields select {
	float: left;
}