/* .pe-fluidgrid-item.para {
	width: 500px;
}

.pe-fluidgrid-item.image {
	width: 300px;
} */
.calendarClass>input {
	width: 90px !important;
}

/* select.ui-selectcheckboxmenu-items {
	margin: 0 0 0 0!important;
} */
.aui ul {
	margin: 0 0 0 0 !important;
}

.aui label {
	margin-bottom: 0 !important;
}

.aui .pf-rio-portlet .ui-selectcheckboxmenu .ui-selectcheckboxmenu-label
	{
	padding: 14px 26px 9px 10px !important;
	margin-bottom: 0px !important;
}

/* Select One */
.aui .pf-rio-portlet .ui-inputfield {
	border-bottom: solid 1px #b0bec5 !important;
}

.aui .pf-rio-portlet .ui-inputfield.ui-state-focus {
	border-bottom: solid 1px #03A9F4 !important;
}

.aui .pf-rio-portlet .ui-inputfield .ui-inputtext .ui-widget .ui-state-default .ui-corner-all .ui-state-focus .focus .ui-state-hover
	{
	border-bottom: solid 1px #03A9F4 !important;
}

/*  fa awesome icon button */
.aui .pf-rio-portlet .ui-button-text-icon-left .ui-icon.fa {
	margin-left: 7px !important;
}

/* .aui .pf-rio-portlet .ui-inputfield .ui-corner-all {
	-webkit-box-shadow: none !important;
} */
.aui .pf-rio-portlet .ui-selectonemenu .ui-selectonemenu-label {
	border-bottom: 0px !important;
}

.ui-selectcheckboxmenu-panel .ui-selectcheckboxmenu-filter-container .ui-inputfield,
	.ui-selectonemenu-panel .ui-selectonemenu-filter-container .ui-inputfield
	{
	padding: 9px 10px !important;
	border: solid 0px #C6D6DF !important;
	border-bottom: solid 1px #B0BEC5 !important;
	background-color: #F5F5F4 !important;
	-webkit-box-shadow: none !important;
}

.aui .pf-rio-portlet .ui-selectonemenu {
	width: inherit !important;
}
/* - Spinner */
/* .aui .pf-rio-portlet .ui-spinner .ui-spinner-down {
	margin-bottom: 8px!important;	
} */
.aui .pf-rio-portlet .ui-spinner .ui-spinner-down {
	margin: 0 0 8px !important;
}